.header{
	display: flex;
	height: 80px;
	background-color: #7dbcea;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.header h3{
	color: #fff;
}
.topics_wrap{
	padding: 0 10px;

}
.topics_main{
	display: flex;
	padding: 5px 0;
}
.topics_main img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	flex-shrink:0
}
.topics_main>div{
	 flex-grow:1;
	white-space: nowrap;
	overflow: hidden;
}
.topics_main h3{
	text-overflow: ellipsis;
	overflow: hidden;
}
.topics_main .tab{
	margin-right: 10px;
	background-color: yellow;
	color: #000;
	padding: 0 5px;
	border-radius: 5px;
	text-align: center;
}
.ant-back-top{
	right:20px !important;

}

.topic{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-bottom: 10px;
}
.topic span{
	margin-left: 5px;
}
.topic_wrap{
	line-height: 1.7
}
.topic_wrap img{
	width: 100%
}
.comment{
	display: flex;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.comment pre{
	overflow-x: auto;
}
.comment pre code{
	overflow-x: auto;
	width: 100%;
}
.comment>span{
	flex-shrink: 0;
	margin-right: 10px;
}
.comment_header{
	flex-grow: 1;
	width: 85%;
}
.comment_right{
	display: flex;
	justify-content: space-between;
	max-width: 100%
}
.comment_right span{
	margin-right: 10px;
}
.message{
	padding: 0 10px;
	background-color: #ccd;
}
.message p:nth-child(odd){
	line-height: 30px;
	background-color: #ccb;
}
.message p:nth-child(even){
	line-height: 30px;
	background-color: #cce;
}

.user{
	display: flex;
}
.user_wrap{
	margin-top: 30px;
	align-items: center;
}
.user_wrap h3{
	background-color: #ccc;
	line-height: 50px;
	padding-left: 10px
}
.user_main{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}
.wrap{
	background-color: #ccc;
	padding: 10px 20px;
}
.wrap>div{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
.wrap>div>p{
	background-color: #cca;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 5px;
}
.wrap_Select{
	margin-bottom: 5px;
	padding-left: 10px;
}
.markdown-text img{
	width: 100%;
}
